.introContainer {
    margin-top: 6rem;
    width: 100%;
    padding: 2rem;
}

.introBox {
    background-image: linear-gradient(
        to right, 
        var(--dark-green), var(--light-green)
      );
    width: 100%;
    max-width: 40rem;
    min-height: 12rem;
    height: fit-content;
    border-radius: 1rem ;
    box-shadow: 0 0 20px var(--lightest-gray);
    font-weight: 600;
    color: var(--white-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.categories-container {
    flex-direction: column;
    padding: 1rem;
    gap: 4rem;
}

.categories {
    width: 100%;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.cover-img {
    border-radius: inherit;
}

.category-box {
    position: relative;
    width: 100%;
    max-width: 20rem;
    height: 10rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px var(--lightest-gray);
    transition: top ease 0.5s;
    cursor: pointer;
}

.category-box:hover {
    top: -10px;
}

.category-cover-text {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    z-index: 2;
    color: var(--white-color);
}