@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--lightest-green);
}


:root {
    --white-color: #fff;
    --sky-blue: #0096FF;
    --navy-blue: #003865;
    --darkest-blue: #06283D;
    --darkest-green: #243D25;
    --dark-green: #1A4D2E;
    --green: #3EC70B;
    --shaded-yellow: #eacf1f;
    --shaded-red: #FF4A4A;
    --light-green: #59CE8F;
    --lighter-green: #8cc6949c;
    --lightest-green: #F6FBF4;
    --gray-color: #3a3a3a;
    --lightest-gray: #ccc;
}


.font-comfortaa {
    font-family: 'Comfortaa', cursive;
}

a {
    text-decoration: none;
}