@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --white-color: #fff;
    --sky-blue: #0096FF;
    --darkest-blue: #06283D;
    --dark-green: #1A4D2E;
    --light-green: #59CE8F;
    --lightest-green: #F6FBF4;
    --lightest-gray: #ccc;
}


.font-comfortaa {
    font-family: 'Comfortaa', cursive;
}